<mat-toolbar>
  <div class="app-name">
    <mat-icon>fingerprint</mat-icon>
    <span (click)="navigateByUrl('home')">QuizzApp</span>
  </div>

  <span class="example-spacer"></span>

  <button (click)="navigateByUrl('categories')" *ngIf="user" mat-button>
    <mat-icon>category</mat-icon>
  </button>

  <button (click)="navigateByUrl('home')" mat-button>
    <mat-icon>home</mat-icon>
  </button>

  <button (click)="navigateByUrl('login')"
          mat-raised-button
          color="accent"
          *ngIf="!user">Login</button>

  <button (click)="exit()"
          mat-raised-button
          color="warn"
          *ngIf="user">Sair</button>
</mat-toolbar>
