.home-area {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .app-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px;

    img {
      width: 30%;
      height: auto;
      margin-right: 50px;
    }

    .quiz-description {
      width: 55%;

      h1 {
        font-size: 50px;
        height: auto;
        font-family: 'Poppins', sans-serif;
        line-height: 60px;
      }

      p {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }

  .rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
    background-color: #181a20;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #adffe4;

    h4 {
      font-size: 30px;
      height: auto;
      font-family: 'Poppins', sans-serif;
    }

    li {
      margin-bottom: 30px;
    }

    button {
      width: 80%;
    }
  }
}
