<app-header></app-header>
<div class="home-area">
  <div class="home">
    <div class="app-info" *ngIf="!user">
      <div class="quiz-description">
        <h1>Bem vindo ao <span style="color: rgb(255, 104, 104);">QuizzApp!</span></h1>
        <p>
          MJV Academy quiz app. Projeto feito em Angular para colocar em prática os conhecimentos
          adquiridos no curso de Angular da MJV Technology & Innovation.
        </p>
        <button mat-raised-button color="accent" *ngIf="!user" [routerLink]="['/login']">Entrar</button>
      </div>
      <img src="./assets/images/quiz-logo.svg" alt="quiz logo">
    </div>

    <div class="rules" *ngIf="user">
      <h4>Aqui vão as regras {{user.name | titlecase}}:</h4>
      <ol>
        <li>Questões corretas dão 10 pontos</li>
        <li>Questões erradas reduzem 10 pontos</li>
        <li>Pular questões não alteram o placar</li>
        <li>Você tem 60 segundos para responder cada questão</li>
      </ol>
      <button mat-raised-button color="accent" *ngIf="user" [routerLink]="['/categories']">Ver categorias</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
