<app-header></app-header>

<div class="area-login">
  <div class="login">
    <h1>Bem vindo!</h1>
    <form class="login-form">
      <mat-form-field appearance="fill" [color]="colorControl.value!">
        <mat-label>Usuário</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" [color]="colorControl.value!">
        <mat-label>Insira sua senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="accent" type="button" (click)="authenticate()">Entrar</button>
    </form>
    <p class="error" *ngIf="userAuth.hasError$ | async">
      Usuário ou senha inválidos, tente novamente!
    </p>
    <a [routerLink]="['new-user']">Ainda não tem uma conta? Clique aqui!</a>
  </div>
</div>
