<app-header></app-header>
<div class="container">
  <div class="login-content">
    <form class="login-form">
      <h2>Bem vindo!</h2>
      <div class="form-field one">
        <div>
          <mat-icon>person</mat-icon>
        </div>
        <div class="field">
          <h5>Usuário</h5>
          <input type="email" [(ngModel)]="email" name="email" required>
        </div>
      </div>
      <div class="form-field pass">
        <mat-icon>lock</mat-icon>
        <div class="field">
          <h5>Senha</h5>
          <input type="password" [(ngModel)]="password" name="password" required>
        </div>
      </div>
      <p class="error" *ngIf="error">Usuário ou senha inválidos, tente novamente!</p>
      <a (click)="navigateByUrl('new-user')">Ainda não tem uma conta? Clique aqui!</a>
      <button class="btn" type="button" (click)="authenticate()">Entrar</button>
    </form>
  </div>
</div>
