.categories-area {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .categories-infos {
    width: 60%;
    height: auto;
    margin-bottom: 150px;

    p{
      font-size: 18px;
      margin-bottom: 30px;
      text-align: center;
    }

    .categories {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px;
      height: 500px;
      background-color: #181a20;
      border-radius: 20px;
      border: 1px solid #adffe4;

      .cat-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        h1 {
          font-size: 35px;
          height: auto;
          margin-bottom: 30px;
          font-family: 'Poppins', sans-serif;
          line-height: 60px;
        }

        .navigation {
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #353535;
            border-radius: 20px;
            margin: 0 30px;
            padding: 30px;
            background-color: #181a20;
            height: 200px;
            cursor: pointer;
            transition: .3s ease-in-out;

            img {
              height: 110px;
              margin-bottom: 10px;
            }
          }

          button:hover {
            border: 1px solid #adffe4;
            background-color: #313338;
          }
        }
      }
    }
  }
}
