<app-header></app-header>
<div class="categories-area">
  <div class="categories-infos">
    <P><span style="color:rgb(255, 104, 104);">Atenção!</span> Ao selecionar uma categria vc receberá 5 questões para responder
      e terá 60 segundos para responder cada questão. Boa sorte!
    </P>

    <div class="categories">
      <div class="cat-infos">
        <h1>Selecione uma categoria:</h1>
        <div class="navigation">
          <mat-spinner *ngIf="loading === true" color="accent"></mat-spinner>
          <button *ngFor="let category of categories$ | async" [routerLink]="['/categories', category.id]">
            <img [src]="'./assets/images/' + category.imagePath" alt="Categoria" />
            <p>{{ category.name }}</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
