/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

body {
  margin: 0;
  background-color: #262a38;
  overflow: hidden;
}

html, body {
  height: 100%;
}
